body {
    background-color: #E5E5E5;
    font-family: 'Montserrat', sans-serif;
}

/* Right sections styles */

.right-section {
    padding-left: 75px;
    background-color: #fff;
    padding-right: 200px;

}

.main-section {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: -3px auto;
}

.about-me-profession {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-top: 100px;
    color: black;
}

.about-me-section {
    width: 600px;
}

.about-me-section p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

#personName {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    margin-top: 30px;
}

.projects-section {
    margin: 40px 0 0 0;
}

.block-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000;
}

.projects-section ol {
    padding-left: 18px;
}

ol li, .bracket {
    font-weight: 700;
    color: #000;
}

.projects-item a {
    color: #595959;

}

.projects-item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #595959;
    margin-left: 10px;
}

.work-experience-section {
    margin-top: 50px;
}

.work-experience-postion {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.work-experience-company {
    color: #fb6d3a;
}

.work-experience-period {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #a8a8a8;
}

.line-break {
    color: #000;
}

.work-experience-duties {
    padding-left: 18px;
}

.work-experience-duties li {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.education-section {
    margin-top: 43px;
}

.education-place {
    color: #FB6D3A;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 700;
}

.education-specialization {
    color: #000;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 700;
}

.education-period {
    color: #A8A8A8;
    font-size: 12px;
    font-family: Montserrat;
}

/* Sidebar styles */

.sidebar-section {
    width: 375px;
    background-color: #1E2939;
}

.sidebar-section img {
    margin-top: 40px;
    width: 325px;
    height: auto;
}

.sidebar-title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #fff;
}

.contacts-section, .tech-skills-section, .soft-skills-section {
    margin-left: 40px;
}

.contacts-section-type {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin-right: 10px;
    color: #fff;
}

.contacts-section-value {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #3A4352;
}

.sidebar-list {
    color: #fb6d3a;
    padding-left: 20px;
}

.sidebar-list span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}

